[Unit]
Description=Launch default realm

ConditionPathExists=!/run/realms
ConditionPathExists=/realms/default.realm
ConditionPathExists=/run/user/1000/pulse/native
ConditionPathExists=/run/user/1000/wayland-0


[Service]
ExecStart=/usr/libexec/citadel-boot start-realms
Type=oneshot
RemainAfterExit=yes

